.inputWrapper {
  display: inline-block;
  position: relative;
  color: $secondary-darkest;
}

.placeholder {
  @include text-size(5);
  pointer-events: none;
  position: absolute;
  top: 2.2rem;
  left: 1.6rem;
  transition: all .3s;
}

.errorMessage {
  color: $danger;
  margin-left: 0.6rem;
}

.input {
  padding: 3rem 1.6rem 1.2rem;
  border: 1px solid transparent;
  border-radius: 12px;
  width: 100%;
}

@mixin active-primary-placeholder {
  @include text-size(7);
  color: $secondary-darker;
  top: 1.2rem;
}

.primary {
  background: $secondary-light;

  @include hover {
    background: $secondary;
  }

  &:focus {
    border-color: $primary-light;
    background: $secondary-light;

    & + .placeholder {
      @include active-primary-placeholder;
    }
  }

  &.active {
    & + .placeholder {
      @include active-primary-placeholder;
    }
  }

  &.error {
    border-color: $danger;
  }
}
