.languages {
  display: flex;
  justify-content: space-around;
  width: 100%;

  svg {
    display: none;
    cursor: pointer;
    width: 2.4rem;
    height: 2.4rem;

    &.visible {
      display: block;
    }
  }
}
