.wrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: 4.8rem;
  height: 2.4rem;
  fill: $primary;
}

.name {
  @include text-size(3);
  font-weight: 600;
  color: $primary;
  margin-left: 0.8rem;
}
