.wrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: 4.8rem;
  height: 2.4rem;
  fill: $primary;
}

.content {
  color: $primary;
  margin-left: 0.9rem;
}

.name {
  @include text-size(5);
  font-weight: 600;
}

.subname {
  font-size: 1rem;
  line-height: 1.4;
  color: $secondary-darkest;
}
