$secondary-lightest: var(--secondary-lightest);
$secondary-light: var(--secondary-light);
$secondary: var(--secondary);
$secodary-dark: var(--secodary-dark);
$secondary-darker: var(--secondary-darker);
$secondary-darkest: var(--secondary-darkest);

$primary-lightest: var(--primary-lightest);
$primary-light: var(--primary-light);
$primary: var(--primary);
$primary-dark: var(--primary-dark);

$danger-lightest: var(--danger-lightest);
$danger-light: var(--danger-light);
$danger: var(--danger);
$danger-dark: var(--danger-dark);

$warning-lightest: var(--warning-lightest);
$warning-light: var(--warning-light);
$warning: var(--warning);
$warning-dark: var(--warning-dark);

$purple-lightest: var(--purple-lightest);
$purple-light: var(--purple-light);
$purple: var(--purple);
$purple-dark: var(--purple-dark);

$success-lightest: var(--success-lightest);
$success-light: var(--success-light);
$success: var(--success);
$success-dark: var(--success-dark);

$blue-lightest: var(--blue-lightest);
$blue-light: var(--blue-light);
$blue: var(--blue);
$blue-dark: var(--blue-dark);
